#listEmails{
	width:500px;
	height:150px;
	border:2px solid black;
	padding:5px;
	border-radius:5px;
	overflow: auto;
}

#listEmails #inputEmail{
	border:none;
	width:180px;
	height:30px;
	font-size:14px;
}

.emailtext{
	font-family: Arial, sans-serif;
	border:2px solid #E95E27;
	display:inline-block;
	background-color: #FAE5D2;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin: 0 5px 5px 0;
}
.emailtext #emailtext-del{
	display: inline-block;
    margin-left: 10px;
    padding: 0px 4px;
    color: #E95E27;
    cursor: pointer;
}